body{
    background-color:rgba(222, 216, 216, 0.82) 
}
.footer{
    height:400px;
    width:100%;
    background-color: rgba(23, 100, 103, 0.637);
    display: flex;
    gap: 20px; 
    justify-content: center;
    justify-content: flex-start;
     flex-wrap: wrap;
  
}
.grid-container {
  display: grid;
  /* Creates 4 equal columns */
  grid-template-columns: repeat(4, 1fr); 
  
  /* Sets the height of the row to 400px */
  grid-auto-rows: 400px; 
  
  /* Optional: adds space between columns */
  column-gap: 20px; 

  background-color: rgb(5, 49, 50);
   
}

.grid-item {
  padding: 10px;
  position:relative;

}
#a{
    font-size:25px;
    font-weight:bold;
    color: #da0c0c;
    /* padding:10px; */
    margin:5px; 
    position: relative;
}
.facebook{
    height:40px;
    border-radius: 50%;
    position: absolute;
    top:220px;
    left:10px;
}
.insta{
    height:40px;
     border-radius: 50%;
      position: absolute;
     top:220px;
    left:100px;
}
.x{
    height:40px;
    border-radius: 50%;
    position: absolute;
    top:220px;
    right:70px
}
.connect{
    position:absolute;
    top:150px;
    left:10px;
    color:rgb(11, 239, 239);
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}

#b{
    position: relative;
    top:20px;
}
#b h5{ 
    color:rgb(11, 239, 239);
    font-size:15px;
     letter-spacing: 2px;
     font-weight: 100px;
     margin-bottom: 35px;
     margin-left:10px;
    
}

#b h2{
    color:rgb(11, 239, 239);
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-bottom: 30px;
    margin-left:none;
}

#c{
    position: relative;
    top:20px;
}
#c p{
  color:rgb(11, 239, 239);
    font-size:15px;
     letter-spacing: 2px;
     font-weight: 100px;
     margin-bottom: 35px;
     margin-left:10px;
}
#c h2{
   color:rgb(11, 239, 239);
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-bottom: 30px;
    margin-left:none;
}
#d{
 position: relative;
    top:20px;
}
#d h2{
    color:rgb(11, 239, 239);
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-bottom: 30px;
    margin-left:none;
}
#d p{
    color:rgb(11, 239, 239);
    font-size:15px;
     letter-spacing: 2px;
     font-weight: 100px;
     margin-bottom: 35px;
     margin-left:10px;
}

.gallary{
    margin:0 auto;
    height:200px;
    width:90%;
    background-color:rgba(222, 204, 204, 0.82) ;
     display: flex;
    justify-content: center;
    /* align-content: center;  */
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    column-gap: 1px;
    border-radius: 10px;
  

}
.grid{
    position: relative;
    border-radius: 10px;

}
.grid img{
    height:150px;
    width:100%;
    position:absolute;
    top:20px;
    left:0px;
    right:0px;
    bottom:20px;
    border-radius: 10px;
    
    
}
#g1{
    margin-left: 50px;
    margin-top: 40px;

}
#g1 p{
    position: absolute;
    top:40px;
    margin:none;
}

#g1 button{
    position: absolute;
    top:100px;
}